---
import Hello from '@matthewp/awesome/components/Hello.astro';

let title = 'My App'
---

<!doctype html>
<html lang="en">
<head>
  <title>{ title }</title>
</head>
<body>
  <h1>{ title }</h1>

  <Hello />
</body>
</html>